<h1>Contact</h1>
<p>
Telephone: 519-451-6837<br />
Address: 1096 The Parkway, London, Ontario, N6A 2X1
</p>
<p>
You may also use the form below to contact me by email.  I respect your privacy 
and will not share your information with anyone.  If you would like a            
response, be sure to enter your email address.
</p>
<form style="line-height:150%;" action="http://formmail.dreamhost.com/cgi-bin/formmail.cgi" method="post">
    <div id="form">
        <input type="hidden" name="recipient" value="&#112;&#97;&#116;&#114;&#105;&#99;&#105;&#97;&#64;&#112;&#118;&#97;&#110;&#114;&#101;&#101;&#110;&#101;&#110;&#46;&#99;&#111;&#109;" />
        <input type="hidden" name="env_report" value="REMOTE_ADDR,HTTP_USER_AGENT" />
        <input type="hidden" name="redirect" value="http://www.pvanreenen.com/thankyou.php" />
        Name <i>(optional)</i>:<br />
        <input size="50" type="text" name="realname" />
        <br />
        Subject:<br />
        <input size="50" type="text" name="subject" />
        <br />
        Email <i>(to receive a response, you must enter your email address)</i>:<br />
        <input size="50" type="text" name="email" />
        <br />
        Question or Comment:<br />
        <textarea rows="8" cols="65" name="question"></textarea><br />
        <br />
        <input type="submit" value="Submit" />
    </div>
</form> 
