<h1>Contact</h1>
<p>
Telephone: 519-451-6837<br />
Address: 1096 The Parkway, London, Ontario, N6A 2X1
</p>
<p>
You may also use the form below to contact me by email.  I respect your privacy 
and will not share your information with anyone.  If you would like a            
response, be sure to enter your email address.
</p>
<form style="line-height:150%;" action="/contact" method="post">
    <div id="form">
        Name <i>(optional)</i>:<br />
        <input size="50" type="text" name="realname" />
        <br />
        Subject:<br />
        <input size="50" type="text" name="subject" />
        <br />
        Email <i>(to receive a response, you must enter your email address)</i>:<br />
        <input size="50" type="text" name="email" />
        <br />
        Question or Comment:<br />
        <textarea rows="8" cols="65" name="question"></textarea><br />
        <br />
        <input type="submit" value="Submit" />
    </div>
</form> 
