<h1>Welcome</h1>
<p class="extra-spacing">
<img class="floatRight" alt="Patricia Van Reenen" src="images/patricia.jpg"/>At 
times life's stresses become overwhelming and exhausting, causing us to feel 
trapped in our own worlds.  Then we may feel confused, angry, frustrated, 
isolated or helpless.
</p>
<p class="extra-spacing">
Trauma, family crisis, low self esteem, life transitions, and difficulties in 
relationships can be addressed with counselling.
</p>
<p class="extra-spacing">
Counselling assists individuals experiencing difficulties in emotional, 
spiritual, cognitive, interpersonal, and vocational areas of life.  Through the 
therapeutic relationship, a mutually reflective process,  individuals are 
empowered to experience themselves differently in relation to their conflicts.  
Individuals feel more powerful, and more able to address their difficulties with 
integrity, confidence and peace.
</p>
