<h1>Location</h1>
<p>
One hour street parking is available on The Parkway and Huron Street.
</p>
<p style="font-size: 85%;">
The map below can be moved as well as zoomed in and out.  Depending on the speed 
of your internet connection, it may take a few seconds to load.
</p>
<div id="map" style="width: 580px; height: 350px">
</div>
<p>
To get directions from Google, click <a href="http://maps.google.com/maps?f=d&amp;hl=en&amp;saddr=&amp;daddr=1096+The+Parkway,+London,+Ontario&amp;ie=UTF8&amp;z=15&amp;om=1&amp;iwloc=addr"
                    onclick="return newWindow('http://maps.google.com/maps?f=d&amp;hl=en&amp;saddr=&amp;daddr=1096+The+Parkway,+London,+Ontario&amp;ie=UTF8&amp;z=15&amp;om=1&amp;iwloc=addr')">here</a>.
</p>
