<h1>About this Site</h1>
<p>
This website is designed and maintained by <a href="http://davidvg.com">David van Geest</a>.  It is powered by Sinatra, XHTML 1.0 Strict, CSS2, and JavaScript.
</p>
<p>
The site is compatible with all modern browsers and most screen resolutions.  
However, it is strongly recommended that you upgrade to the latest version of <a href="http://www.mozilla.com/firefox">Firefox</a> 
or <a href="http://www.microsoft.com/windows/ie/">Internet Explorer</a>.
</p>
<p>
If you find any bugs, or have any questions regarding the website, please 
contact me by using <a href="contact_web">this form</a>.
</p>
