<h1>About</h1>
<h2>20 Years of Clinical Experience in Various Counselling Settings:</h2>
<ul>
  <li>
    Community Health Centers
  </li>
  <li>
    Hospitals
  </li>
  <li>
    Cancer Center
  </li>
  <li>
    Children's Mental Health Center
  </li>
  <li>
    Family Counselling Agency
  </li>
  <li>
    Private Practice
  </li>
  <li>
    Employee Assistance Programs (EAP)
  </li>
</ul>
<h2>Educational Qualifications</h2>
<ul>
  <li>
    Master of Social Work (MSW)
  </li>
  <li>
    Bachelor of Social Work (BSW)
  </li>
  <li>
    Registered Nurse Diploma (RN)
  </li>
  <li>
    To continue the development of my skills and knowledge base I regularly attend 
    professional workshops and training opportunities.
  </li>
  <li>
    To maintain a high standard of practice I consult with a clinical consultant.
  </li>
</ul>

<h2>Professional Memberships</h2>
<ul>
  <li>
    Ontario College of Registered Social Workers and Social Service Workers (<a href="http://www.ocswssw.org/">OCSWSSW</a>)
  </li>
  <li>
    Ontario Association of Social Workers (<a href="http://www.oasw.org/">OASW</a>)
  </li>
</ul>
