<h1>Contact the Webmaster</h1>
<p>
Please use this form to contact the webmaster by email if you have any problems 
with, or questions about, this website.
</p>
<p>
We value your privacy and will not share your information with anyone.  If you 
would like a response, be sure to enter your email address.
</p>

<form id="contact-form" style="line-height:150%;" action="/contact_web" method="post">
    <div id="form">
        Name <i>(optional)</i>:<br />
        <input size="50" type="text" name="realname" />
        <br />
        Subject:<br />
        <input size="50" type="text" name="subject" />
        <br />
        Email <i>(to receive a response, you must enter your email address)</i>:<br />
        <input size="50" type="text" name="email" />
        <br />
        Question or Comment:<br />
        <textarea rows="8" cols="65" name="question"></textarea><br />
        <br />
        <button class="g-recaptcha" data-sitekey="<%= ENV['RECAPTCHA_SITE_KEY'] %>" data-callback='submitContactForm'>Submit</button>
    </div><!--form-->
</form> 
