<h1>Office Procedures During COVID-19</h1>
<p>
With growing global concerns around COVID-19, I want to convey
that the health, safety, and well-being of my clients is my top priority.
I am following the lead of Canadian public health authorities and the
government at this challenging time.</p>
<p>In an effort to ensure your health and safety, and that of our
community, therapy sessions will be offered remotely. Sessions will
be conducted by phone or video depending on your preference.
Please let me know prior to your scheduled session whether you
prefer a phone or video session so I can ensure that I am able to
connect with you. If choosing video sessions, I utilize Zoom which
can be downloaded without cost.</p>
<p>I realize that remote sessions can initially feel somewhat removed and
strange in contrast to face-to-face sessions. However, many clients
who have used them have been pleasantly surprised, saying the
experience was better than they had expected. To facilitate the
adjustment to remote counselling, I am offering a free trial
session of 25 minutes as an introduction to remote therapy.</p>
<p>Like you, I look forward to meeting
face-to-face in the near future, as health and safety recommendations
permit.</p>

