<a name="top"></a> <h1>Frequently Asked Questions</h1>
<ul style="line-height:130%">
    <li>
        <a href="#rsw">What is indicated by the credential "R.S.W." following the 
        counsellor's name?</a>
    </li>
    <li>
        <a href="#working_relationship">How will I know if there is a good working 
        relationship between myself and the counsellor?</a>
    </li>
    <li>
        <a href="#referral">Do I need a referral to make an appointment?</a>
    </li>
    <li>
        <a href="#ohip">Are these services covered under OHIP?</a>
    </li>
    <li>
        <a href="#conf">What is meant by confidentiality?</a>
    </li>
    <li>
        <a href="#park">Where can I park?</a>
    </li>
    <li>
        <a href="#attend">Do both partners have to attend the sessions for marital/couple 
        counselling?</a>
    </li>
    <li>
        <a href="#first">What should I expect at the first session of marital/couple 
        counselling?</a>
    </li>
    <li>
        <a href="#meds">Do you prescribe medications?</a>
    </li>
    <li>
        <a href="#other">My question is not answered here.</a>
    </li>
</ul>

<h3><a name="rsw"></a><br />
What is indicated by the credential "R.S.W." following the counsellor's name?</h3>
<p>
A <b>R</b>egistered <b>S</b>ocial <b>W</b>orker is governed by the Ontario 
College of Social Workers and Social Service Workers (<a href="http://www.ocswssw.org/">OCSWSSW</a>) 
which regulates its members to protect the public from professional misconduct. 
Social Workers who are members of the College follow certain <a href="http://www.ocswssw.org/sections/membership_info/current_members/ethicsandpractice.html">standards 
of practice</a> and a <a href="http://www.ocswssw.org/sections/membership_info/current_members/ethicsandpractice.html">Code 
of Ethics</a> adopted by the College.
</p>
<a href="#top">Return to top</a>


<h3><a name="working_relationship"></a><br />
How will I know if there is a good working relationship between myself and the 
counsellor?</h3>
<p>
Within two to three sessions you should know if you have a good working 
relationship with the counsellor.  This knowledge is based on the sense of 
connection with the counsellor, whether or not you felt heard and understood, 
and whether or not the counsellor was responsive, focused and attentive to your 
concerns.
</p>
<a href="#top">Return to top</a>


<h3><a name="referral"></a><br />
Do I need a referral to make an appointment?</h3>
<p>
No, you can phone to book an appointment.  However, for coverage under an 
Extended Health Benefit Plan you may want to discuss a referral with your 
physician.
</p>
<a href="#top">Return to top</a>


<h3><a name="ohip"></a><br />
Are these services covered under OHIP?</h3>
<p>
Services are not covered under OHIP.  However, they may be covered under your 
workplace Employee Assistance Program (EAP).
</p>
<a href="#top">Return to top</a>

<h3><a name="conf"></a><br />
What is meant by confidentiality?</h3>
<p>
In most instances, counselling information is kept confidential, meaning it is 
not shared with a third party unless written and informed consent is given.   
However, in some cases counsellors are legally and ethically bound to share 
information with appropriate individuals and agencies without consent.  These 
instances involve abuse of a minor, a person who is at risk of injuring him or 
her self or others, or when information is mandated by the courts.
</p>
<a href="#top">Return to top</a>

<h3><a name="park"></a><br />
Where can I park?</h3>
<p>
One hour street parking is available on The Parkway and Huron Street.
</p>
<a href="#top">Return to top</a>

<h3><a name="attend"></a><br />
Do both spouses have to attend the sessions for marital/couple counselling?</h3>
<p>
No, but having both spouses present is usually preferred.
</p>
<a href="#top">Return to top</a>

<h3><a name="first"></a><br />
What should I expect at the first session of marital/couple counselling?</h3>
<p>
During the first session, I prefer to see the couple together for a brief 
introduction, and then I see the individual partners separately to complete an 
assessment.  After both partners are assessed, I see the couple together for the 
remainder of the session to discuss how we will proceed with counselling.  The 
couple is seen together in the remaining sessions.  Occasionally, additional 
individual sessions are required for one or both partners.
</p>
<a href="#top">Return to top</a>

<h3><a name="meds"></a><br />
Do you prescribe medications?</h3>
<p>
No, only a physician or a psychiatrist can prescribe medications.  However, 
counsellors will work with physicians and psychiatrists to monitor the 
usefulness of medications.  The combination of medication and counselling can 
provide optimum treatment in some situations.
</p>
<a href="#top">Return to top</a>


<h3><a name="other"></a><br />
My question is not answered here.</h3>

<p>
Please contact Patricia Van Reenen at 519-451-6837, or by using <a href="contact.php">this 
form</a>.
</p>
<a href="#top">Return to top</a> <br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
