<h1>Hours</h1>
<p>
Flexible daytime appointments are available from Tuesday until Thursday, and
evening appointments are available on Thursday nights.
</p>
<p>
The frequency of your sessions will be determined by your need.
</p>
<h1>Fees</h1>
<ul style="line-height:135%;">
    <li>
        Some Private Extended Health Insurance and Benefit Plans cover the cost of the
        hourly sessions. Receipts for service fees will be provided for reimbursement by insurance benefit plans.<br />
        <br />
    </li>
    <li>
        A referral from your family physician is not necessary to book an appointment,
        however, you may wish to discuss a referral with your physician to receive
        coverage under an extended health care plan.<br />
        <br />
    </li>
    <li>
        Although fees are not covered by OHIP, counselling sessions may qualify under
        your workplace Employee Assistance Program (EAP).
    </li>
</ul>
<p style="text-align:center">
To make an appointment, contact Patricia Van Reenen at <br />
<b>519-451-6837</b>.
</p>
<img src="/images/lake.jpg" width="580" height="85" alt="Lake"  />
