<h1>Privacy Policy</h1>
<p>
This is the website privacy policy.  For questions regarding client 
confidentiality, please see the <a href="faq.php">FAQ</a>.
</p>
<h2>Cookies</h2>
<p>
This site, in order to collect the Non-personal Information detailed below, 
makes use of cookies.  These cookies are not required for any site functionality 
and can be refused if the user chooses.
</p>
<h2>Collection of Non-personal Information</h2>
<p>
This site, like almost every other site on the internet, collects anonymous 
usage data about its visitors.  Included in this data is non-personal 
information such as your IP address, the date and time of your visit, and what 
browser you are using.  This data cannot be traced to you in any way, and is 
only collected so that we may make the website more user-friendly.
</p>
<h2>Collection of Personal Information</h2>
<p>
If you choose to contact us by filling out one of the web forms, you may also 
choose to submit personal information such as your name and your email address.  <strong>This 
information is read by the counsellor or webmaster only (depending on which form 
you use), and is not shared with anyone.</strong>
</p>
