<h1>Resources</h1>
<ul style="line-height:145%;">
  <li>
      Addiction Services of Thames Valley - <a href="http://www.adstv.on.ca">www.adstv.on.ca</a>
  </li>
  <li>
      Anxiety Disorders Association of Canada - <a href="http://www.anxietycanada.ca/">www.anxietycanada.ca</a>
  </li>
  <li>
      Bereaved Families of Ontario - <a href="http://www.bfo.london.on.ca">www.bfo.london.on.ca</a>
  </li>
  <li>
      Canadian Mental Health Association - <a href="http://www.cmha.ca">www.cmha.ca</a>
  </li>
  <li>
      Centre for Addiction and Mental Health - <a href="http://www.camh.ca">www.camh.ca</a>
  </li>
  <li>
      Changing Ways - <a href="http://www.changingways.on.ca">www.changingways.on.ca</a>
  </li>
  <li>
      Child and Adolescent Center - <a href="http://www.lhsc.on.ca/Patients_Families_Visitors/Childrens_Hospital/Programs_and_services/Adolescent_Mental_Healthcare_Program.htm">www.lhsc.on.ca</a>
  </li>
  <li>
      Children's Aid Society London - <a href="http://www.caslondon.on.ca">www.caslondon.on.ca</a>
  </li>
  <li>
      Family Service Thames Valley - <a href="http://www.familyservicethamesvalley.com">www.familyservicethamesvalley.com</a>
  </li>
  <li>
      Information London - <a href="http://www.info.london.on.ca/">www.info.london.on.ca</a>
  </li>
  <li>
      Madame Vanier Children's Center - <a href="http://www.vanier.com">www.vanier.com</a>
  </li>
  <li>
      Merrymount Children's Center - <a href="http://www.merrymount.on.ca">www.merrymount.on.ca</a>
  </li>
  <li>
      Ontario College of Social Workers and Social Service Workers - <a href="http://www.ocswssw.org/">www.ocswssw.org/</a>
  </li>
  <li>
      Psychology Today - <a href="http://www.psychologytoday.com/">www.psychologytoday.com</a>
  </li>
  <li>
      Sexual Assault Center London - <a href="http://www.sacl.ca">www.sacl.ca</a>
  </li>
  <li>
      Women's Community House - <a href="http://www.shelterlondon.org">www.shelterlondon.org</a>
  </li>
  <li>
      YOU  (Youth Opportunities Unlimited) - <a href="http://www.you.on.ca">www.you.on.ca</a>
  </li>
  <li>
      Your Law:  Family Law in Ontario - <a href="http://yourontariolaw.com/">yourontariolaw.com</a>
  </li>
</ul>
