<h1>Resources</h1>
<ul style="line-height:145%;">
  <li>
      Addiction Services of Thames Valley - <a href="http://www.adstv.on.ca">www.adstv.on.ca</a>
  </li>
  <li>
      Bereaved Families of Ontario - <a href="http://www.bfo.london.on.ca">www.bfo.london.on.ca</a>
  </li>
  <li>
      Canadian Mental Health Association - <a href="http://www.cmha.ca">www.cmha.ca</a>
  </li>
  <li>
      Changing Ways - <a href="http://www.changingways.on.ca">www.changingways.on.ca</a>
  </li>
  <li>
      Child and Adolescent Center - <a href="http://www.lhsc.on.ca/mhcp/child.htm">www.lhsc.on.ca/mhcp/child.htm</a>
  </li>
  <li>
      Children's Aid Society London - <a href="http://www.caslondon.on.ca">www.caslondon.on.ca</a>
  </li>
  <li>
      Family Service Thames Valley - <a href="http://www.familyservicethamesvalley.com">www.familyservicethamesvalley.com</a>
  </li>
  <li>
      Information London - <a href="http://www.info.london.on.ca/">www.info.london.on.ca</a>
  </li>
  <li>
      London Family Police Consultants - <a href="http://www.police.london.ca/AboutLPS/UD/UDFamily.htm">www.police.london.ca/AboutLPS/UD/UDFamily.htm</a>
  </li>
  <li>
      London Interfaith Counselling - <a href="http://www.licc.on.ca">www.licc.on.ca</a>
  </li>

  <li>
      London Mental Health Crisis Service - <a href="http://www.sjhc.london.on.ca/sjh/programs/mental/crisis.htm">www.sjhc.london.on.ca/sjh/programs/mental/crisis.htm</a>
  </li>
  <li>
      Madame Vanier Children's Center - <a href="http://www.vanier.com">www.vanier.com</a>
  </li>
  <li>
      Merrymount Children's Center - <a href="http://www.merrymount.on.ca">www.merrymount.on.ca</a>
  </li>
  <li>
      Ontario College of Social Workers and Social Service Workers - <a href="http://www.ocswssw.org/">www.ocswssw.org/</a>
  </li>
  <li>
      Sexual Assault Center London - <a href="http://www.sacl.ca">www.sacl.ca</a>
  </li>
  <li>
      Women's Community House - <a href="http://www.shelterlondon.org">www.shelterlondon.org</a>
  </li>
  <li>
      YOU  (Youth Opportunities Unlimited) - <a href="http://www.you.on.ca">www.you.on.ca</a>
  </li>
  <li>
      Your Law:  Family Law in Ontario - <a href="http://yourontariolaw.com/">yourontariolaw.com</a>
  </li>
</ul>
