<h1>Services</h1>
<p>
Confidential, professional counselling for <strong>individuals</strong>, <b>couples</b>
and <b>families</b> encountering difficulties related to:
</p>
<ul style="line-height:170%;">
    <li>
        depression
    </li>
    <li>
        low self-esteem
    </li>
    <li>
        abuse
    </li>
    <li>
        parenting
    </li>
    <li>
        adolescent issues
    </li>
    <li>
        separation and divorce
    </li>
    <li>
        loss and death
    </li>
    <li>
        illness
    </li>
    <li>
        sexuality
    </li>
    <li>
        anxiety
    </li>
    <li>
        stress
    </li>
    <li>
        trauma
    </li>
    <li>
        marital difficulties
    </li>
</ul>
